@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

/* This is all just for styling purposes
// The demo content is lower demo */


*, *::before, *::after {
    box-sizing: border-box;
    margin-top: 0;
}

body {
    background: #f5f5f5;
    color: #18314f;
    font-family: 'Crimson text', serif;
    font-size: 1.5rem;
}

h1 {
    font-size: 1.8rem;
    text-transform: uppercase;
    text-emphasis: none;
    text-align: center;
    margin-top: 100px;
    letter-spacing: 10px;
    padding-bottom: 60px;
}

h2 {
    font-size: 1rem;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 5px;
    color: gray;
    padding-bottom: 40px;
}

span {
    display: block;
    font-size: 5rem;
    text-align: center;
    margin: 0 auto;
    color: #18314f;
}

.marked {
    display: inline-flex;
    background: skyblue;
    padding: 2px;
}

.example p{
    display: inline-flex;
    background: skyblue;
    padding: 10px;
    vertical-align: middle;
    width: 100%;
}

a {
    color: skyblue;
}

p {
    font-weight: 700;
}

.list-item {
    color:skyblue;
}

.box {
    display: inline-flex;
    width: 100px;
    height: 100px;
    background: gray;
}

section {
    background: white;
    width: 85vw;
    margin: 0 auto;
    padding: 40px;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
}

.atribute {

}

#loom-companion-mv3 {
    display: none;
}

/* Direct  children*/
.direct-children p {
    color: red;
}
.direct-children > p {
    color: green;
} /*just direct not other deeper inside structure*/

/* Adjacent sibiling */
.adjacent-sibiling .box + .box{
    background: red;
    margin-left: 100px;
}

/* General sibiling */
.general-sibiling .box ~ .box{
    background: red;
    margin-left: 100px;
}

/* Atributes */

a[target="_blank"] {
    color: darkblue;
}

a[target="_blank"]::after {
    /*content: '(external link)';*/
    content: url('//unsplash.it/20/20');
    display: inline-block;
    margin-left: 5px;
    margin-right: 25px;
}

a[href="about.html"] {
    color: red;
}

a[class|="another"] {
    color: purple;
}

a[href^="https"] {
    color: orange;
}

a[href*="google"] {
    color: black;
}

a[href$=".ca"] {
    color:blue;
}