@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body {
    display: grid;
    height: 100vh;
    background: rgb(227, 192, 97);
    align-items: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 100;
}

h1 {
    margin: 0;
}

code {
    background: silver;
    padding: .2em;
}

.card {
    position: relative;
    margin: 0 auto;
}

.box {
    background: white;
    padding: 2em;
    /* color: blue; currentColor color of the text*/
    /* box-shadow: inset 0px 0px 20px 0px rgba(0, 0, 0, .5); horizontal, vertical, blur, spread*/
    box-shadow: 20px 20px 20px black, 
                30px 30px 30px red;
                
}